USE [master]
GO
/****** Object:  Database [Safe_DB]    Script Date: 6/5/2016 11:58:08 AM ******/
CREATE DATABASE [Safe_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Safe_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Safe_DB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Safe_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Safe_DB_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Safe_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Safe_DB]
GO
/****** Object:  Table [dbo].[Api_Tests]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Api_Tests](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[ApiType] [nchar](10) NULL,
	[Url] [nvarchar](max) NULL,
	[Payload] [nvarchar](max) NULL,
	[ResponseType] [nchar](10) NULL,
	[ResponseParm] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Api_Tests_1] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Api_Tests_Run]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Api_Tests_Run](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[ApiType] [nchar](10) NULL,
	[Url] [nvarchar](max) NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[ResponseType] [nchar](10) NULL,
	[ResponseParm] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
	[ActualValue] [nvarchar](max) NULL,
	[Result] [nchar](10) NULL,
	[DbTimestamp] [nvarchar](50) NOT NULL,
	[AT] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Api_Tests_Run_1] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC,
	[DbTimestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Db_Tests]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Db_Tests](
	[SNO] [numeric](18, 0) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[DBType] [nchar](10) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[DBName] [nvarchar](50) NULL,
	[DBQuery] [nvarchar](max) NULL,
	[ExpectedResult] [nvarchar](max) NULL,
	[ActualResult] [nvarchar](max) NULL,
	[Result] [nchar](10) NULL,
 CONSTRAINT [PK_Db_Tests] PRIMARY KEY CLUSTERED 
(
	[SNO] ASC,
	[TCName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Functional_Tests]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functional_Tests](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[Browser] [nchar](10) NULL,
	[StepCount] [nchar](10) NULL,
	[StepName] [nchar](10) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[LocatorName] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Functional_TC] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC,
	[StepName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Functional_Tests_Run]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Functional_Tests_Run](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[StepCount] [nchar](10) NULL,
	[Browser] [nchar](10) NULL,
	[StepName] [nchar](10) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[LocatorName] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
	[ActualValue] [nvarchar](max) NULL,
	[Result] [nchar](10) NULL,
	[DbTimestamp] [nvarchar](50) NOT NULL,
	[AT] [numeric](18, 4) NOT NULL,
 CONSTRAINT [PK_Functional_TC_Run_1] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC,
	[StepName] ASC,
	[DbTimestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Track_Main]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track_Main](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[ManualEffort] [nvarchar](50) NOT NULL,
	[TimeStamp] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Track_Main] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Track_Sub]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Track_Sub](
	[SNO] [numeric](18, 0) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[AutomatedEffort] [numeric](18, 5) NOT NULL,
	[TimeStamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Track_Sub] PRIMARY KEY CLUSTERED 
(
	[SNO] ASC,
	[TCName] ASC,
	[TimeStamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit_Tests]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_Tests](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[PackageName] [nvarchar](50) NULL,
	[JavaClass] [nchar](10) NOT NULL,
	[FunctionName] [nvarchar](50) NOT NULL,
	[ArgToPass] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Unit_Tests_1] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Unit_Tests_Run]    Script Date: 6/5/2016 11:58:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit_Tests_Run](
	[SNO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TCName] [nvarchar](50) NOT NULL,
	[PackageName] [nvarchar](50) NULL,
	[JavaClass] [nchar](10) NULL,
	[FunctionName] [nvarchar](50) NULL,
	[ArgToPass] [nvarchar](max) NULL,
	[ExpectedValue] [nvarchar](max) NULL,
	[ActualValue] [nvarchar](max) NULL,
	[Result] [nchar](10) NULL,
	[DbTimestamp] [nvarchar](50) NOT NULL,
	[AT] [numeric](18, 4) NULL,
 CONSTRAINT [PK_Unit_Tests_Run] PRIMARY KEY CLUSTERED 
(
	[TCName] ASC,
	[DbTimestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
